# ------------------------------
# Virtual environment
# ------------------------------
combviovenv/

# ------------------------------
# Python cache files
# ------------------------------
__pycache__/
*.py[cod]
*.so

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# OS-specific files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# SLURM output
# ------------------------------
slurm-*.out
slurm-*.err

mimic-iv-3.1/
mimic-iv-3.1.zip